[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
django-channels = "*"
django-environ = "*"
gunicorn = "*"
pillow = "*"
mysqlclient = "*"
django-filter = "*"
firebase-admin = "*"
python-decouple = "*"
requests = "*"
google-generativeai = "*"

[dev-packages]

[requires]
python_version = "*"
